body{
    margin: 0px;
}
.header{
    padding: 0px;
    background-color: #407fbf;
    width:100%;
    height: 60px;
}
.header .img{
    width: 55px; height: 55px; margin-left: 35px;
    float: left;
}
.profile{
    background-image: url("https://cdn0.iconfinder.com/data/icons/thin-users-people/57/thin-191_user_profile_avatar-512.png");
    float: right;
    width:50px;
    height: 55px;
    margin-top: 0px;
    margin-right: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #eee;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}
.profile img{
  float: right;
    width:50px;
    height: 55px;     
    margin-top: -2px;
    margin-right: -2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #eee;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}
.promain{
    float: right;
    
    width: 100px;
    height:  auto;
}
#profileoption{
     -moz-box-shadow: inset 0 0 15px #E8E8E8;
    -webkit-box-shadow: inset 0 0 15px #E8E8E8;
    box-shadow: inner 0 0 15px #E8E8E8;
        margin-left: -120px;
    margin-top: 55;
    width: 2px;
        height: 0;
}
.loginbuttons{
       width: 105px; 
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  text-shadow: 0px 1px 3px #543e54;
  -webkit-box-shadow: 0px 1px 3px #f5f5f5;
  -moz-box-shadow: 0px 1px 3px #f5f5f5;
  box-shadow: 0px 1px 3px #f5f5f5;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 11px 20px 10px 20px;
  border: solid #fafafa 2px;
  text-decoration: none;
}
form{
        margin-left: 70px;
    width: 100px;
    height: auto;
}
#form{
    width: 250px;
    height: 400px;
    
}
.loginbuttons:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #a3cce0);
  background-image: -moz-linear-gradient(top, #ffffff, #a3cce0);
  background-image: -ms-linear-gradient(top, #ffffff, #a3cce0);
  background-image: -o-linear-gradient(top, #ffffff, #a3cce0);
  background-image: linear-gradient(to bottom, #ffffff, #a3cce0);
  text-decoration: none;
}
.left{
    height: 95%;
    width: 40px;
    background: #cccccc;
  background-image: -webkit-linear-gradient(bottom, #ffffff, #cccccc);
  background-image: -moz-linear-gradient(bottom, #ffffff, #cccccc);
  background-image: -ms-linear-gradient(bottom, #ffffff, #cccccc);
  background-image: -o-linear-gradient(bottom, #ffffff, #cccccc);
  background-image: linear-gradient(bottom to, #ffffff, #cccccc);
  text-decoration: none;
}
.left img {
    margin-top: 30px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}
.login {
    margin-left: 25px;
    margin-bottom: 35px;
    width: 400px;
    height: auto;
  
}.form1{
    width: 400px;
    height: 360px;
    float: left;
    margin-top: 80px;
    margin-left:35%;
    -moz-box-shadow: inset 0 0 15px #E8E8E8;
    -webkit-box-shadow: inset 0 0 15px #E8E8E8;
    box-shadow: inner 0 0 15px #E8E8E8;
}
.form1 input{
    margin-bottom: 5px;
}
.form1 p{
    margin-bottom: 5px;
}
.form1 .imgp{
    float: left;
}
p.n{
    width: 50px;
    height: 20px;
}
input.btn{
    width: 100px;
    background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #d6d7eb);
  background-image: -moz-linear-gradient(top, #ffffff, #d6d7eb);
  background-image: -ms-linear-gradient(top, #ffffff, #d6d7eb);
  background-image: -o-linear-gradient(top, #ffffff, #d6d7eb);
  background-image: linear-gradient(to bottom, #ffffff, #d6d7eb);
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  text-shadow: 0px 1px 3px #543e54;
  -webkit-box-shadow: 0px 1px 3px #f5f5f5;
  -moz-box-shadow: 0px 1px 3px #f5f5f5;
  box-shadow: 0px 1px 3px #f5f5f5;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 11px 20px 10px 20px;
  border: solid #fafafa 2px;
  text-decoration: none;
    float: left;
    margin-top: 20px;
}
input.btn2{
    width: 100px;
    margin-top: 20px;
    float: left;
background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #d6d7eb);
  background-image: -moz-linear-gradient(top, #ffffff, #d6d7eb);
  background-image: -ms-linear-gradient(top, #ffffff, #d6d7eb);
  background-image: -o-linear-gradient(top, #ffffff, #d6d7eb);
  background-image: linear-gradient(to bottom, #ffffff, #d6d7eb);
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  text-shadow: 0px 1px 3px #543e54;
  -webkit-box-shadow: 0px 1px 3px #f5f5f5;
  -moz-box-shadow: 0px 1px 3px #f5f5f5;
  box-shadow: 0px 1px 3px #f5f5f5;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 11px 20px 10px 20px;
  border: solid #fafafa 2px;
  text-decoration: none;
    margin-bottom: 30px;
}
input.n{
    height: 20px;
    margin-bottom: 20px;
}
#pp{
    margin-top: 25px;
    width: 150px;
    margin-bottom: 2px;
}
