#headerr {
    background-color:lightgray;
    color:gray;
    text-align:left;
    padding:5px;
    font-size:160%;
        width: 1190px;

    
}
#navv {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:550px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:lightgray;
    color:gray;
    clear:both;
    text-align:center;
   padding:5px;	 
   width:900px;
}
.ss{
    float: left;
        margin-left: 95px;
}